.navBar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px 20px;
}

.navLinks{
    display:flex;
    justify-content: space-between;
    flex: 1;
    place-items: center;
}

.navLogo{
    display:flex;
    border: 2px solid white;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    font-family: optima;
    color: white;
    padding: 10px 20px;
}

.navLinks >a{
    text-decoration: none;
    border: none;
    font-weight: bold;
    color: white;
}

.navLinks >a:hover{
    text-decoration:none;
    border: none;
    color:#DF784D;
}

