.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 10px 20px;
}

.sidebarTop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebarTop>a{
    text-decoration: none;
    border: none;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}

.sidebarTop > a:hover{
    color:#DF784D;
    text-decoration: none;
    border: none;
}

.sidebarDown{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}