.app{
  
  background: url("https://i.pinimg.com/736x/49/16/5d/49165dc7305ca003a37c99da86308255.jpg");
  background-position: center center ;
  opacity:2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  
}



.home{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
}
.home-text>h1{
  color: white;
  font-family: optima;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: -1px 0 hsl(272, 81%, 8%), 0 1px hsl(272, 81%, 8%), 1px 0 hsl(272, 81%, 8%), 0 -1px hsl(272, 81%, 8%);
}
.home-text-2{
  letter-spacing: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.home-btn>button{
  font-size: 20px;
  text-align: center;
  border: none;
  outline-width: 0;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  text-shadow: -1px 0 hsl(272, 81%, 8%), 0 1px hsl(272, 81%, 8%), 1px 0 hsl(272, 81%, 8%), 0 -1px hsl(272, 81%, 8%);
}

.home-btn>button:hover{
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4dA6,
  0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}